<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-9">
    <meta name="viewport" content="width=device-width, initial-scale=0.0">
    <title>ProductsDemoApp</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" integrity="sha512-8bHTC73gkZ7rZ7vpqUQThUDhqcNFyYi2xgDgPDHc+GXVGHXq+xPjynxIopALmOPqzo9JZj0k6OqqewdGO3EsrQ==" crossorigin="anonymous" />
</head>
<body>
  <div class="ui menu">
    <div class="ui container">
      <div class="header item">
       <a href="/products">
        <i class="product hunt large icon"></i>
      </a>
      </div>
      <a class="item" href="/products">
        All products
      </a>
      <a class="item" href="/products/new">
        Add product
      </a>
    </div>
</div>