<%- include('../partials/header')  %> 
   <div class="ui container">
      <h1 class="ui header">All Products</h1> 
         <div class="ui card">
         <% for(product of products){ %> 
            <div class="content">
               <div class="ui list">
                  <div class="item">
                     <a href="/products/<%=product._id%>">
                        <%= product.name %> 
                     </a> 
                  </div> 
               </div>
            </div>
            <% } %> 
       </div>
   </div>
<%- include('../partials/footer')  %> 