<%- include('../partials/header')  %> 
   <h1>Create new product</h1> 
   <form method="POST" action="/products">
        <input type="text" name="name" placeholder="product name"/>
        <input type="number" name="price" placeholder="price"/>
        <select name="category">
            <% for (let category of categories) {%> 
                <option value="<%=category%>"><%=category%></option>
            <% } %> 
        </select>
        <button>submit</button>
   </form>
<%- include('../partials/footer')  %> 