<%- include('../partials/header')  %> 
<div class="ui container">

    <h1 class="ui header">Create new product</h1> 
    <div class="card">
        <form class="ui form" method="POST" action="/products">
            <div class="field">
                <label>Product name</label>
                <input type="text" name="name" placeholder="product name"/>
            </div>
            <div class="field">
                <label>Price</label>
                <input type="number" name="price" placeholder="price"/>
            </div>
            <div class="field">
                <label>Category</label>
                <select name="category">
                    <% for (let category of categories) {%> 
                        <option value="<%=category%>"><%=category%></option>
                        <% } %> 
                </select>
            </div>
            <div class="field">
                <button class="ui basic button primary">submit</button>
            </div>
        </form>
    </div>
 </div>
<%- include('../partials/footer')  %> 